# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ / Android Studio
*.iml
*.ipr
*.iws
.idea/

# VS Code
#.vscode/

# Flutter / Dart / Pub
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
coverage/

# Android
android/.gradle/
android/local.properties
android/app/debug/
android/app/profile/
android/app/release/
android/app/build/
android/build/

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/ephemeral/
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh

# Xcode
**/DerivedData/
**/*.xcuserstate
**/xcuserdata/

# Environment / Secrets
.env
.env.*
!.env.example
android/key.properties
*.jks
*.keystore

# Temporary
*.tmp
*.temp
*.bak
*.orig

# Symbolication
app.*.symbols

# Obfuscation
app.*.map.json
